<ion-header>
  <ion-toolbar>
    <ion-title>
      Social
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="list social-list">
      <a class="item item-thumbnail-left item-text-wrap">
        <img class="animated zoomIn" src="/src/assets/img/icons/youtube.svg" alt="img">
        <h2  ng-style="{'color': item.color}">{{item.title}}
          <span class="notify pull-right animated rubberBand" ng-style="{'background': item.color}">5</span>
        </h2>
        <p class="animated fadeIn"></p>
      </a>
    </div>
  </ion-content>